<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 配置全局属性 -->
	<settings>
		<!-- 使用jdbc的getGeneratedKeys获取数据库自增主键值 -->
		<setting name="useGeneratedKeys" value="true" />

		<!-- 使用列别名替换列名 默认:true -->
		<setting name="useColumnLabel" value="true" />

		<!-- 开启驼峰命名转换:Table{create_time} -> Entity{createTime}
		<setting name="mapUnderscoreToCamelCase" value="true" />-->

		<!-- 打印查询语句 -->
		<setting name="logImpl" value="STDOUT_LOGGING" />
		<setting name="jdbcTypeForNull" value="NULL" />

	</settings>

	<!--<environments default="development">-->
		<!--<environment id="development">-->
			<!--&lt;!&ndash; 使用JDBC事务管理&ndash;&gt;-->
			<!--<transactionManager type="JDBC" />-->
			<!--&lt;!&ndash; 数据库连接池&ndash;&gt;-->
			<!--<dataSource type="POOLED">-->
				<!--<property name="driver" value="org.gjt.mm.mysql.Driver"/>-->
				<!--<property name="url" value="jdbc:mysql://localhost:3306/mybatis "/>-->
				<!--<property name="username" value="root"/>-->
				<!--<property name="password" value="123456"/>-->
			<!--</dataSource>-->
		<!--</environment>-->
	<!--</environments>-->
<!--
	<typeAliases>
		<package name="sample.mybatis.domain"/>
	</typeAliases>
	<mappers>
		<mapper resource="sample/mybatis/mapper/CityMapper.xml"/>
		<mapper resource="sample/mybatis/mapper/HotelMapper.xml"/>
	</mappers>
-->

</configuration>